body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.event-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}